/* * {
  max-width: 1300px;
} */

.App {
  text-align: center;
}


h1{
  padding: 50px;
  color: #c0be42; 
  font-family:  'Open Sans Condensed', sans-serif; 
  font-size: 75px; 
  font-weight: bold; 
  letter-spacing: -5px; 
  line-height: 1; 
  text-align: center;
}

/* .App img {
  size: 50%;
  float: right;
  width: "300";
  height: "300";
  border-radius: 50%;
} */

