input {
    display: inline;
    margin: auto;
    width: 100px;
    height: 20px;
}

.RecordExpenses h2 {
  font-family: Arial, Helvetica, sans-serif;
} 



 h3, h4 {
  /* padding: 60px; */
  color: #c0be42; 
  font-weight: bold;
  font-size: 35px;
}

h5 {
  color: black;
  font-size: 18px;
  font-weight: medium;
  font-family:  'Century Gothic', sans-serif; 
  padding: 20px;
}

.RecordExpense {
  border-radius: 5px;
  background-color: #f2f2f2;
  width: 90%;
  margin: auto;
  /* background-color: #5067e7; */
  padding: 20px;
  display: block;
  color: #5067e7;
  font-weight: bold;
}

.RecordExpense input[type=number], input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  width: 200px;
  height: 35px;
}

.RecordExpense input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  width: 200px;
}

.RecordExpense select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  width: 200px;
  height:auto;
}

.list, .head {
    font-family: 'Segoe UI', sans-serif;
    border-collapse: collapse;
    width: 90%;
    margin: auto;
    /* margin-left: 25px; */
    font-size: 20px;
    /* padding: 50px; */
  }

  
.list td, .list th, .head td, .head th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    width: 200px;
  }
  
.list td:nth-child(even){
  background-color: #f2f2f2;
}
  
  
.head th {
    padding-top: 12px;
    padding-bottom: 12px;
    /* text-align: center; */
    background-color: #5067e7;
    color: white;
  }

.spacing{
    padding-top: 5px;
    padding-bottom: 20px;
  }


.RecordExpense .btn-secondary {
  margin: auto;
}
  